body{
  background-color:#191717;
  height: 100vh;
  margin:0px;
  font-family: Arial;
  overflow: hidden;
}

#map{
  width: 75%;
  height: 100%;
  float: right;
  margin:0px;
}

#main-map iframe{
  height:100%;
  width: 100%;
}

.sidebar{
  float:left;
  width:25%;
  height:100%;
  overflow:scroll;
  background-color: #191717;
}

.sidebar a{
  text-decoration: none;
}

#main-header{
  padding:40px 0px;
}

#main-header h1{
  padding: 5px 20px 5px 20px;
  text-align: center;
  font-size: 24px;
  color: #F1EFEF;
  margin:0;
  font-weight: bold;
}

.trip-selection{
  margin:0;
  margin-bottom: 3px;
  min-height: 25px;
  display:flex;
  align-items: center;
}

.trip-selection:hover{
  background-color: #414240;
}

.trip-selection h2{
  margin:0;
  margin-left:25px;
  color: #BBBCBA;
  font-size: 12px;
  font-weight: lighter;
}

.popupCustom .leaflet-popup-tip,
.popupCustom .leaflet-popup-content-wrapper {
    background: rgba(96, 95, 95, 0.34);
    color: #bbc5e5;
    border-radius: 0;
}